<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <!-- Database connection settings -->
        <property name="connection.driver_class">org.hsqldb.jdbcDriver</property>
        <property name="connection.url">jdbc:hsqldb:hsql://localhost:9001</property>
        <property name="connection.username">sa</property>
        <property name="connection.password"></property>

        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">1</property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.HSQLDialect</property>

        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>

        <!-- Echo all executed SQL to stdout useful for debugging if set to true-->
        <property name="show_sql">true</property>

        <property name="hbm2ddl.auto">create</property>
        <mapping class="model.City"></mapping>
        <mapping class="model.Comment"></mapping>
        <mapping class="model.Country"></mapping>
        <mapping class="model.HelloWorldHibernate"></mapping>
        <mapping class="model.Location"></mapping>
        <mapping class="model.Message"></mapping>
        <mapping class="model.Notification"></mapping>
        <mapping class="model.Project"></mapping>
        <mapping class="model.State"></mapping>
        <mapping class="model.Tag"></mapping>
        <mapping class="model.Type"></mapping>
        <mapping class="model.User"></mapping>

    </session-factory>
</hibernate-configuration>




