<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <filter>
        <filter-name>Security Filter</filter-name>
        <filter-class>org.securityfilter.filter.SecurityFilter</filter-class>
        <init-param>
            <param-name>config</param-name>
            <param-value>/WEB-INF/securityfilter-config.xml</param-value>

            <!--<description>Configuration file location (this is the default value)</description>-->
        </init-param>
        <init-param>
            <param-name>validate</param-name>
            <param-value>true</param-value>

            <!--<description>Validate config file if set to true</description>-->
        </init-param>
    </filter>

    <servlet>
        <servlet-name>MyProjectsServlet</servlet-name>
        <servlet-class>servlets.project.ViewProjectListServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>MyProjectsServlet</servlet-name>
        <url-pattern>/secured/myprojects</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CommentProjectServlet</servlet-name>
        <servlet-class>servlets.project.PostCommentAjaxServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CommentProjectServlet</servlet-name>
        <url-pattern>/secured/comment_ajax</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>servlets.search.SearchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/sercured/search</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddPledgeServlet</servlet-name>
        <servlet-class>servlets.project.AddPledgeServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AddPledgeServlet</servlet-name>
        <url-pattern>/secured/pledge</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>FollowProjectServlet</servlet-name>
        <servlet-class>servlets.project.FollowProjectServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FollowProjectServlet</servlet-name>
        <url-pattern>/secured/pfollow</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FollowUserServlet</servlet-name>
        <servlet-class>servlets.user.FollowUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FollowUserServlet</servlet-name>
        <url-pattern>/secured/ufollow</url-pattern>
    </servlet-mapping>


    <!-- map all requests to the SecurityFilter, control what it does with configuration settings -->
    <filter-mapping>
        <filter-name>Security Filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <welcome-file-list>
        <welcome-file>/login.jsp</welcome-file>
    </welcome-file-list>


</web-app>
